<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Library App'">Library App</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Library</a>
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/books}">Books</a>
            <a class="nav-link" th:href="@{/authors}">Authors</a>
            <a class="nav-link" th:href="@{/genres}">Genres</a>
        </div>
    </div>
</nav>

<div class="container">
    <div th:replace="${content}"></div>
</div>
</body>
</html>